html, body, ul, p, h3 {
  padding: 0;
  margin: 0;
}

/* reset.css */

a {
  color: #000;
  text-decoration: none;
}

body {
  background: #f5f5f5;
  color: #333;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

/* ==================================通用样式================================= */

.m-top {
  background: #242424;
  border-bottom: 1px solid #000;
  height: 70px;
}

/* m-top通用 */

.g-topbar .m-top .wrap-top {
  margin: 0 auto;
  width: 1100px;
}

/* 控制整体宽度，并居中 */

.g-topbar .m-top ul a {
  color: #fff;
  float: left;
  font-size: 14px;
  height: 70px;
  padding: 0 19px;
  text-align: center;
}

.m-nav .z-slt {
  background-color: #000;
  position: relative;
}

.z-slt .cor {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?debf522a10451b0bc56a92753c59baa4) -226px 0 no-repeat;
  display: block;
  height: 7px;
  margin-left: -6px;
  top: 64px;
  left: 50%;
  position: absolute;
  width: 12px;
}

/* 菜单链接字体相关 */

.g-topbar .m-top .logo {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) 0 0 no-repeat;
  float: left;
  height: 69px;
  margin: 0;
  width: 176px;
}

/* 左上角logo图片 */

.g-topbar .m-top h1 a {
  color: #fff;
  float: left;
  height: 100%;
  text-indent: -9999px;
  width: 176px;
}

/* logo隐藏文字  */

.g-topbar .m-top .m-srch {
  float: right;
  margin: 19px;
}

.g-topbar .m-top li {
  float: left;
  height: 70px;
  list-style: none;
}

.g-topbar .m-top .m-srch label {
  float: left;
  text-indent: -9999px;
}

.m-nav {
  line-height: 70px;
}

.m-nav a:hover, .m-nav a:focus, .m-nav a:active {
  background: #000;
  color: #fff;
}

.g-topbar .m-top .fst, .g-topbar .m-top .lst {
  padding: 0;
}

.lst {
  position: relative;
}

.lst .hot {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?debf522a10451b0bc56a92753c59baa4) -190px 0 no-repeat;
  height: 19px;
  position: absolute;
  left: 100px;
  top: 21px;
  width: 28px;
}

a#topbar-download-link {
  height: 70px;
}

/* end menu */

.srchbg {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) 0 -99px #fff;
  border-radius: 35px;
  float: right;
  height: 32px;
  margin-top: 19px;
  width: 158px;
}

.parent {
  position: relative;
  margin: 8px 0 0 30px;
  /* 设置外边距控制文字的位置 */
}

label {
  color: #969696;
  cursor: text;
  position: absolute;
}

input#search-area {
  background: transparent;
  border: 0;
  outline: none;
  width: 95%;
}

/* 搜索框 */

.m-topvd {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) 0 -140px;
  box-sizing: border-box;
  color: #ccc;
  height: 32px;
  line-height: 32px;
  margin: 19px 0 0 12px;
  float: right;
  padding-left: 32px;
  width: 90px;
}

a.m-topvd:hover {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) -100px -140px;
  color: #fff;
}

/* 视频投稿 */

.n-tophead {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) right -44px;
  float: right;
  margin: 20px 0 0 20px;
  padding-right: 22px;
}

.n-tophead img {
  border-radius: 30px;
}

/* user-pic */

/*================================== end .m-top ============================= */

#g-nav2 {
  background: #c20c0c;
  border: 1px solid #a40011;
  height: 35px;
}

/* 设置行高和背景色 */

.wrap {
  height: 34px;
  margin: 0 auto;
  width: 1100px;
}

/* 控制居中 */

.nav {
  padding-left: 180px;
}

/* 将文字 与上面一条对齐 */

.nav li {
  float: left;
  list-style: none;
  min-width: 24px;
  text-align: center;
}

/* 使列表项水平排列 */

.nav li a {
  color: #fff;
  font-size: 12px;
  line-height: 34px;
}

/* 设置列表项垂直居中 */

.nav li a em {
  display: inline-block;
  line-height: 21px;
  margin: 7px 17px 0;
  padding: 0 13px;
}

/* 红条的文字间距 */

.nav li a:hover em, .nav a.z-slt em {
  background: #9b0909;
  border-radius: 20px;
}

/*============================= end g-nav2 ===================================*/

.index-banner {
  background: url(http://p1.music.126.net/jUyqs2eHFIR5G5LSCkzIDw==/18987466300573654.jpg);
}

.wrap-ban {
  width: 982px;
  height: 336px;
  margin: 0 auto;
  position: relative;
}

.ban img {
  display: block;
  width: 730px;
  height: 336px;
}

/* end banner img */

.ban .btnl, .ban .btnr, .ban .dots .pg, .ban .dots .pg1 {
  background: url(http://s2.music.126.net/style/web2/img/index/banner.png?bc59) no-repeat 0 9999px;
}

.ban .btnl, .ban .btnr {
  display: block;
  text-indent: -9999px;
  width: 37px;
  height: 63px;
  position: absolute;
  top: 50%;
  margin-top: -31px;
}

.ban .btnl {
  background-position: 0 -360px;
  left: -68px;
}

.ban .btnl:hover {
  background-position: 0 -430px;
}

.ban .btnr {
  background-position: 0 -508px;
  right: -68px;
}

.ban .btnr:hover {
  background-position: 0 -578px;
}

/* end banner 箭头 */

.ban .dots {
  position: absolute;
  left: 0;
  height: 20px;
  width: 730px;
  top: 310px;
  text-align: center;
}

.ban .dots .pg, .ban .dots .pg1 {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.ban .dots .pg {
  background-position: 3px -343px;
}

.ban .dots .pg1 {
  background-position: 25px -343px;
}

/* end dots */

.download, .download .btn, .download .btn:hover {
  background: url(http://s2.music.126.net/style/web2/img/index/download.png?ab) no-repeat 0 9999px;
}

.download {
  background-position: 0 0;
  height: 336px;
  right: 0;
  top: 0;
  position: absolute;
  width: 254px;
}

.download .btn {
  background-position: 0 -9999px;
  /* 此处给a标签设置背景并隐藏(亦可不写)，是因为让后面悬浮时让悬浮突出按钮覆盖背景图，达到突出效果 */
  display: block;
  height: 56px;
  margin: 212px 0 0 19px;
  text-indent: -9999px;
  width: 215px;
}

.download .btn:hover {
  background-position: 0 -340px;
}

.download p {
  color: #ccc;
  margin: 10px 0;
  text-align: center;
}

/* end download button */

/*============================= index-banner =================================*/

.v-hd2 a:hover {
  text-decoration: underline;
}

.v-hd2 .tit:hover {
  text-decoration: none;
}

/* 悬浮效果 */

.g-mn1 {
  background-color: #fff;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  margin: 0 auto;
  overflow: hidden;
  width: 980px;
}

/* 左内容区域 */

.g-wrap3 {
  border-right: 1px solid #d3d3d3;
  float: left;
  padding: 20px 20px 40px;
  width: 689px;
}

/* 左内容 */

.s-bg, .v-hd2 {
  background: url(http://s2.music.126.net/style/web2/img/index/index.png?616dc963ab7c66678671f1f8cf8eeb04) 0 9999px no-repeat;
}

/* UI背景图 */

.v-hd2 {
  background-position: -225px -156px;
  border-bottom: 2px solid #9b0909;
  height: 35px;
  padding: 0 10px 0 34px;
}

/* 横条 */

.v-hd2 .tit {
  color: #333;
  float: left;
  font-size: 20px;
  line-height: 28px;
}

/* 横条单字 */

.tab {
  float: left;
  margin: 7px 0 0 20px;
}

.tab a {
  color: #333;
}

.tab .line {
  margin: 0 10px 0 10px;
}

.v-hd2 .more {
  float: right;
  margin-top: 9px;
}

.more a {
  color: #333;
}

.more .s-bg {
  background-position: 0 -240px;
  display: inline-block;
  height: 12px;
  margin-left: 4px;
  width: 12px;
}

/* 更多 */

.f-cb {
  margin: 20px 0 0 -42px;
  overflow: hidden;
}

.f-cb li {
  float: left;
  height: 204px;
  list-style: none;
  padding: 0 0 30px 42px;
  width: 140px;
}

.f-cb li a.msk {
  background: url(http://s2.music.126.net/style/web2/img/coverall.png?c0c4e108ed7bab4168fd316a6ca76096) 0 9999px no-repeat;
  background-position: 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 静态歌单 */

.u-cover-1 {
  height: 140px;
  position: relative;
  width: 140px;
}

.f-cb li {
  line-height: 1.4;
}

.f-cb li p {
  font-size: 14px;
  text-align: center;
}

.dec {
  margin: 8px 0 3px;
}

.dec .s-fco:hover {
  text-decoration: underline;
}

/* 推荐具体内容 */

/* ===============================热门推荐菜单================================ */

.n-disk {
  border: 1px solid #d3d3d3;
  height: 186px;
  margin: 20px 0 37px;
}

.inner {
  background: #f5f5f5;
  border: 1px solid #fff;
  height: 184px;
  padding-left: 16px;
  position: relative;
}

.roll li, .inner .click-flag-l, .inner .click-flag-r {
  background: url(http://s2.music.126.net/style/web2/img/index/index.png?616dc963ab7c66678671f1f8cf8eeb04) 0 9999px no-repeat;
}

.inner .click-flag-l, .inner .click-flag-r {
  display: inline-block;
  height: 17px;
  position: absolute;
  text-indent: -9999px;
  width: 17px;
}

.inner .click-flag-l {
  background-position: -280px -75px;
  left: 4px;
  top: 71px;
}

.inner .click-flag-r {
  background-position: -300px -75px;
  top: 71px;
}

.roll {
  float: left;
  height: 180px;
  width: 645px;
}

.roll ul {
  margin-top: 28px;
}

.roll li {
  background-position: -260px 100px;
  float: left;
  height: 150px;
  list-style: none;
  margin-left: 11px;
  width: 118px;
}

.f-thide {
  line-height: 18px;
}

.s-fc3 {
  color: #666;
}

.s-fc0:hover, .s-fc3:hover {
  text-decoration: underline;
}

.u-cover-alb1 {
  margin-bottom: 7px;
  position: relative;
}

.u-cover-alb1 .msk {
  background: url(http://s2.music.126.net/style/web2/img/coverall.png?17e33675e0a228274e531fb86bdfee99) 0 -570px no-repeat;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 118px;
}

/* ===============================End 新碟上架================================ */

.n-bill {
  height: 527px;
  width: 689px;
}

.n-blist {
  background: url(http://s2.music.126.net/style/web2/img/index/index_bill.png?c2b48288872b272c1cfc9023d5037a20) no-repeat;
  height: 472px;
  margin-top: 20px;
  padding-left: 1px;
}

.blk {
  float: left;
  height: 472px;
  margin: 0;
  width: 229px;
}

.top {
  height: 100px;
  padding: 20px 0 0 19px;
}

/* 图片内边距设置 */

.cver a {
  background: url(http://s2.music.126.net/style/web2/img/coverall.png?c0c4e108ed7bab4168fd316a6ca76096) 0 9999px no-repeat;
}

.cver {
  float: left;
  height: 80px;
  position: relative;
  width: 80px;
}

.cver img {
  height: 100%;
  width: 100%;
}

.cver a {
  background-position: -145px -57px;
  height: 80px;
  left: 0;
  position: absolute;
  top: 0;
  width: 80px;
}

/* end 榜单图片设置 */

.tit-1 {
  float: left;
  margin: 6px 0 0 10px;
  width: 116px;
}

.btn {
  margin-top: 10px;
}

.btn .s-bg {
  display: block;
  float: left;
  margin-right: 10px;
  height: 22px;
  text-indent: -9999px;
  width: 22px;
}

.s-bg-9 {
  background-position: -267px -205px;
}

.s-bg-10 {
  background-position: -300px -205px;
}

.s-bg-9:hover {
  background-position: -267px -235px;
}

.s-bg-10:hover {
  background-position: -300px -235px;
}

.tit-1 a:hover {
  text-decoration: underline;
}

/* end 榜单文字 */

dd {
  margin: 0;
}

dd ol {
  line-height: 32px;
  margin: 0 0 0 50px;
  padding: 0;
}

dd ol li {
  height: 32px;
  width: 180px;
}

dd ol .no {
  display: inline-block;
  font-size: 16px;
  height: 32px;
  margin-left: -35px;
  text-align: center;
  width: 35px;
}

dd ol .no-top {
  color: #c10d0c;
}

ol li a:hover {
  text-decoration: underline;
}

/* 榜单内容 */

.more-1 {
  margin-right: 32px;
  float: right;
  line-height: 32px;
}

.more-1 a:hover {
  text-decoration: underline;
}

/* ==================================g-mn1=================================== */

.g-ft {
  border-top: 1px solid #d3d3d3;
  height: 140px;
}

.m-ft {
  height: 91px;
  margin: 0 auto;
  width: 980px;
}

.copy {
  float: left;
  height: 83px;
  padding-top: 35px;
  width: 490px;
}

.copy p {
  height: 24px;
  width: 490px;
}

.copy p .s-fc4 {
  color: #999;
}

.s-fc4:hover, .s-fc5:hover {
  text-decoration: underline;
}

.copy p .line {
  color: #c2c2c2;
  margin-left: 10px;
  margin-right: 8px;
}

p .sep {
  margin-right: 14px;
}

/* end footer left */

.f-fr {
  float: right;
  height: 70px;
  margin-top: 21px;
  width: 330px;
}

.f-fr a {
  float: left;
  height: 70px;
  text-indent: -9999px;
  width: 60px;
}

.f-fr .f-tid {
  margin-left: 30px;
}

.f-fr .f-tid, .f-fr .f-tid-1 {
  background: url(http://s2.music.126.net/style/web2/img/foot_enter.png?20f59154c57003df3d9eae291096079a) 0 9999px no-repeat;
}

.f-fr .logo-musician {
  background-position: -60px -80px;
}

.f-fr .logo-topic {
  background-position: 0 -80px;
}

.f-fr .logo-media {
  background-position: 0 0;
}

.f-fr .logo-reward {
  background-position: -60px 0;
}

.f-fr .logo-musician:hover {
  background-position: -60px -230px;
}

.f-fr .logo-topic:hover {
  background-position: 0 -230px;
}

.f-fr .logo-media:hover {
  background-position: 0 -150px;
}

.f-fr .logo-reward:hover {
  background-position: -60px -150px;
}

/* end footer right */

/* ==================================End g-ft================================ */

.m-back {
  background: url(http://s2.music.126.net/style/web2/img/sprite.png?7910b9fb4bed3c47c0be513445c8337a) -265px -47px;
  bottom: 160px;
  display: block;
  height: 44px;
  left: 50%;
  margin-left: 500px;
  position: fixed;
  text-indent: -9999px;
  width: 49px;
}

.m-back:hover {
  background-position: -325px -47px;
}
/* =============================Back to top================================== */
