html, body, ul {
  padding: 0;
  margin: 0;
}

/* reset.css */

a {
  text-decoration: none;
}

body {
  background: #f5f5f5;
  margin: 0;
}

em {
  font-style: normal;
}

/* 通用样式 */

.m-top {
  background: #242424;
  border-bottom: 1px solid #000;
  height: 70px;
}

/* m-top通用 */

.g-topbar .m-top .wrap-top {
  margin: 0 auto;
  width: 1100px;
}

/* 控制整体宽度，并居中 */

.g-topbar .m-top ul a {
  color: #fff;
  float: left;
  font-size: 14px;
  height: 70px;
  text-align: center;
  padding: 0 19px;
}

/* 菜单链接字体相关 */

.g-topbar .m-top .logo {
  background: url(http://s2.music.126.net/style/web2/img/frame/topbar.png?b83b70527b32537c78dcf345a82883f3) 0 0 no-repeat;
  float: left;
  width: 176px;
  height: 69px;
  margin: 0;
}

/* 左上角logo图片 */

.g-topbar .m-top h1 a {
  color: #fff;
  float: left;
  height: 100%;
  width: 176px;
  text-indent: -9999px;
}

/* logo隐藏文字  */

.g-topbar .m-top .m-srch {
  float: right;
  margin: 19px;
}

.g-topbar .m-top li {
  float: left;
  height: 70px;
  list-style: none;
}

.g-topbar .m-top .m-srch label {
  float: left;
  text-indent: -9999px;
}

.m-nav {
  line-height: 70px;
}

.m-nav a:hover, .m-nav a:focus, .m-nav a:active {
  background: #000;
}

.g-topbar .m-top .fst, .g-topbar .m-top .lst {
  padding: 0;
}

a#topbar-download-link {
  height: 70px;
}

#g-srch {
  border-radius: 20px;
}

/* 搜索框圆角 */

/*================================== end .m-top ============================= */

#g-nav2 {
  background: #c20c0c;
  height: 35px;
  border: 1px solid #a40011;
}

/* 设置行高和背景色 */

.wrap {
  height: 34px;
  margin: 0 auto;
  width: 1100px;
}

/* 控制居中 */

.nav {
  padding-left: 180px;
}

/* 将文字 与上面一条对齐 */

.nav li {
  float: left;
  list-style: none;
  min-width: 24px;
  text-align: center;
}

/* 使列表项水平排列 */

.nav li a {
  color: #fff;
  font-size: 14px;
  line-height: 34px;
}

/* 设置列表项垂直居中 */

.nav li a em {
  padding: 0 13px;
  margin: 7px 17px 0;
}

/* 红条的文字间距 */

.nav li a:hover em {
  background: #9b0909;
  border-radius: 20px;
}

/*end g-nav2 */

/* n-ban */

/* g-mn1 */

/* g-ft */
