html, body {
  background: #fff;
  height: 100%;
}

.c_box {
  margin: 0 auto;
  max-width: 980px;
  height: 100%;
}

.c_head {
  position: fixed;
  z-index: 900;
  line-height: 70px;
  background: #24292e;
  color: #fff;
  width: 980px;
}

.c_footer {
  margin: 50px auto;
  min-width: 980px;
  text-align: center;
}

.net_ico span {
  font-size: 30px;
  padding: 30px;
}

.c_content {
  max-width: 980px;
  padding-top: 70px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  overflow: hidden;
  min-height: 90%;
  background: url(img/bg.png) -1px 0 repeat-y;
}

.list {
  float: left;
  width: 240px;
  height: 100%;
}

.list li {
  padding: 10px 0;
}

.list li span.li_item {
  padding-left: 20px;
}

.list li:hover {
  cursor: pointer;
  background: #f5f5f5;
}

.list .input_item:hover,.list .li_create:hover {
  background: #fff;
}

/* 类型按钮 */

.list li.li_create a {
  margin-left: 60px;
  padding: 0;
}

.list .color_point {
  margin-left: 20px;
  background: #dc143c;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

#icreate_item {
  margin-left: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 30px;
  outline: none;
  font-size: 14px;
  width: 150px;
}


.list .menu_link {
  padding-right: 20px;
}

.menu_ul {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #d3d3d3;
  background: #fff;
  border-radius: 5px;
  width: 100px;
  height: 60px;
  box-shadow: 0 0 10px #d3d3d3;
}

.menu_li {
  text-align: center;
  line-height: 30px;
  width: 100%;
}

.menu_li:hover {
  background: #d3d3d3;
}

.delete_link, .edit_link {
  color: #696969;
  float: none;
  display: inline-block;
  width: 100%;
}

.delete_link:hover, .edit_link:hover {
  color: #dc143c;
  text-decoration: none;
}

.menu_link {
  float: right;
  color: #d3d3d3;
}

.menu_link:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.on {
  display: inline-block;
  color: #000;
  font-weight: bold;
}

.todo_area {
  background: #fff;
  border-left: 1px solid #d3d3d3;
  margin-left: 240px;
}

.todo_head {
  line-height: 50px;
  padding-left: 20px;
}

.today_date {
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.todo_view {
  text-align: center;
}

#iadd_m {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.tvm {
  display: inline-block;
  margin: 15px 0;
}

.button {
  display: inline-block;
  background: #24292e;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.button:hover {
  font-weight: bold;
  text-decoration: none;
}

.output_area img {
  margin: 0 auto;
  height: 300px;
}

.output_area .input_result {
  position: relative;
  margin: 20px 100px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  text-align: left;
  line-height: 40px;
}

.output_area .input_result p {
  display: inline-block;
}

.current_time {
  position: absolute;
  right: 40px;
  color: #d3d3d3;
  font-size: 14px;
}

.footer {
  margin: 30px 0;
  text-align: center;
  font-style: italic;
}

.author {
  color: #a9a9a9;
}

.backtotop {
  position: fixed;
  bottom: 5%;
  right: 25%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  line-height: 50px;
  width: 50px;
}
