html, body {
  background: #fafafa;
  height: 100%;
}

.c_box {
  margin: 0 auto;
  width: 980px;
  height: 100%;
}

.c_head {
  line-height: 70px;
  background: #24292e;
  color: #fff;
}

.c_footer {
  margin: 50px auto;
  min-width: 980px;
  text-align: center;
}

.net_ico span {
  font-size: 30px;
  padding: 30px;
}

.c_content {
  min-width: 980px;
  border: 1px solid #d3d3d3;
  min-height: 100%;
}

.list {
  position: absolute;
  width: 240px;
}

.list li {
  padding: 10px 0;
}

.list li span.li_item {
  padding-left: 20px;
}

.list li:hover {
  cursor: pointer;
}

/* 类型按钮 */

.list li.create_item a {
  margin-left: 60px;
  padding: 0;
}

.list li.create_item:hover, .list li.input_item:hover {
  background: #fafafa;
}

.list .color_point {
  margin-left: 20px;
  background: #dc143c;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

#icreate_item {
  margin-left: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 30px;
  outline: none;
  font-size: 14px;
  width: 150px;
}

.delete_link {
  display: none;
  color: #696969;
  float: right;
}

.list .delete_link {
  padding-right: 20px;
}

.delete_link:hover {
  color: #dc143c;
  text-decoration: none;
}

.on {
  display: inline-block;
}

.todo_area {
  background: #fff;
  margin-left: 240px;
  min-height: 100%;
}

.todo_head {
  line-height: 50px;
  padding-left: 20px;
}

.today_date {
  padding-left: 10px;
  font-size: 14px;
  font-weight: normal;
}

.todo_view {
  text-align: center;
}

#iadd_m {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  height: 30px;
  outline: none;
  font-size: 16px;
}

.tvm {
  display: inline-block;
  margin: 15px 0;
}

.button {
  display: inline-block;
  background: #24292e;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}

.button:hover {
  font-weight: bold;
  text-decoration: none;
}

.output_area img {
  margin: 0 auto;
  height: 300px;
}

.output_area .input_result {
  position: relative;
  margin: 20px 100px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  text-align: left;
  line-height: 40px;
}

.output_area .input_result p {
  display: inline-block;
}

.current_time {
  position: absolute;
  right: 40px;
  color: #d3d3d3;
  font-size: 14px;
}
