<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js/" charset="utf-8"></script>
  <title>todolist_Vue</title>
</head>
<body>
  <ol id="app">
    <input type="text" v-model="member" @keydown.enter="submit">
    <button type="button" name="button" @click="submit">Submit</button>
    <todo v-for="item of items" :obj="item" :key="item.id"></todo>
  </ol>
  <script src="./todolist_Vue.js" charset="utf-8"></script>
</body>
</html>
